<div class="container">
    <div class="chats">
        <div class="title">
            <h2>Conversas</h2>
        </div>

        <!-- Aqui vai ter as conversas
        <ng-container *ngFor="let item of ['', '', '', '']">
            <section>
                
            </section>
        </ng-container> -->
    </div>

    <div class="conversation">
        <div>
            <h3>Nome</h3>
            <button>
                <mat-icon>
                    info
                </mat-icon>
            </button>
        </div>
        <section>
                
        </section>
        <form>
            <input type="text" matInput>
            <button mat-icon-button type="submit">
                <mat-icon>send</mat-icon>
            </button>
        </form>
    </div>
</div>