// Mobile
.container {
    display: flex;
    width: 100%;
    height: 90%;
}

.chats {
    width: 100%;
    height: 100%;

    section {
        width: 100%;
        height: 100px;
        background-color: transparent;
        border-bottom: 1px solid #1F2937;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding-left: 20px;
        color: #fff;

        p {
            display: flex;
            align-items: center;
            justify-content: start;

            mat-icon {
                margin-left: 20px;
            }
        }

        &:hover {
            background-color: rgb(1, 23, 49);
        }
    }
}

.title {
    padding: 20px 0 20px 0;
    border-bottom: 1px solid #1F2937;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    h2 {
        color: #fff;
        background-color: #1F2937;
        padding: 5px;
        border-radius: 5px;
    }
}

.conversation {
    display: none;
}

.no-open-conversation {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;

    section {
        padding: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        border: 2px solid #fff;

        margin-bottom: 15px;
    }

    h2 {
        margin-bottom: 10px;
    }
}

// Tablet
@media screen and (min-width: 768px) and (max-width: 992px) {
    .container {
        position: fixed;
        bottom: 0;
        right: 0;
        z-index: 1000;
        width: 85%;
        height: 100%;
    }
}

// Desktop
@media screen and (min-width: 992px) and (max-width: 1200px) {
    .container {
        position: fixed;
        bottom: 0;
        right: 0;
        z-index: 1000;
        width: 85%;
        height: 100%;
    }

    .chats {
        width: 50%;
        border-right: 1px solid #1F2937;
    }

    .conversation {
        display: block;
        width: 50%;
        height: 100%;
    }
}

// Telas grandes
@media screen and (min-width: 1200px) {
    .container {
        position: fixed;
        bottom: 0;
        right: 0;
        z-index: 1000;
        width: 85%;
        height: 100%;
    }
    
    .chats {
        width: 50%;
        border-right: 1px solid #1F2937;
    }

    .conversation {
        display: block;
        width: 50%;
        height: 100%;
    }
}