<div class="container-mobile">
    <div>
        <a>
            {{ titleMobile }}
        </a>
    </div>
    <ul>
        <li>
            <a>
                <mat-icon>home</mat-icon>
            </a>
        </li>
        <li>            
            <a>
                <mat-icon>chat</mat-icon>
            </a>
        </li>
        <li>            
            <a>
                <mat-icon>person</mat-icon>
            </a>
        </li>
    </ul>
</div>

<div class="container">
    <div>
        <a>
            {{ title }}
        </a>
    </div>
    <ul>
        <li>
            <a>
                <mat-icon>home</mat-icon>
            </a>
        </li>
        <li>            
            <a>
                <mat-icon>chat</mat-icon>
            </a>
        </li>
        <li>            
            <a>
                <mat-icon>person</mat-icon>
            </a>
        </li>
    </ul>
</div>