<div #containerMobile class="container-mobile">
    <div>
        <a style="font-weight: bold;">
            {{ titleMobile }}
        </a>
    </div>
    <ul>
        <li>
            <a 
                routerLink="/home"
                [ngClass]="isActive('home')"    
            >
                <mat-icon>home</mat-icon>
            </a>
        </li>
        <li>            
            <a 
                routerLink="/chat"
                [ngClass]="isActive('chat')"    
            >
                <mat-icon>chat</mat-icon>
            </a>
        </li>
        <li>            
            <a 
                [routerLink]="['/my-profile', idUser]"
                [ngClass]="isActive('my-profile')"    
            >
                <mat-icon>person</mat-icon>
            </a>
        </li>
    </ul>
</div>

<div #container class="container">
    <div>
        <a style="font-weight: bold;">
            {{ title }}
        </a>
    </div>
    <ul>
        <li>
            <a 
                routerLink="/home"
                [ngClass]="isActive('home')"    
            >
                <mat-icon>home</mat-icon>
                <p>Página inicial</p>
            </a>
        </li>
        <li>            
            <a 
                routerLink="/chat"
                [ngClass]="isActive('chat')"    
            >
                <mat-icon>chat</mat-icon>
                <p>Mensagens</p>
            </a>
        </li>
        <li>            
            <a 
                [routerLink]="['/my-profile', idUser]"
                [ngClass]="isActive('my-profile')"    
            >
                <mat-icon>person</mat-icon>
                <p>Perfil</p>
            </a>
        </li>
    </ul>
</div>