<div class="container">
    <!-- Corrigir as condições do load.. -->
    <ng-container *ngIf="!user else loaded">
        <div class="spinner">
            <mat-spinner></mat-spinner>
        </div>
    </ng-container>

    <ng-template #loaded>
        <div class="person-info">

            <div>
                <h2>Dados Pessoais</h2>
                <button (click)="logout()">
                    <mat-icon>logout</mat-icon>
                </button>
            </div>

            <ul>
                <li>
                    <span matTooltip="Nome">
                        <mat-icon>assignment_ind</mat-icon>
                    </span>
                    {{ user.nome }}
                </li>
                <li>
                    <span matTooltip="E-mail">
                        <mat-icon>mail</mat-icon>
                    </span>
                    {{ user.email }}
                </li>
                <li>
                    <span matTooltip="Telefone">
                        <mat-icon>phone_iphone</mat-icon>
                    </span>
                    {{ user.telefone }}
                </li>
                <li>
                    <span matTooltip="CPF">
                        <mat-icon>badge</mat-icon>
                    </span>
                    {{ user.cpf | maskCpf }}
                </li>
            </ul>

        </div>

        <div class="posts">
            <div class="posts-title">
                <mat-icon>
                    apps
                </mat-icon>
                <h3>Publicações</h3>
            </div>

            <ng-container *ngIf="posts.length == 0 else havePosts">
                <div class="no-posts">
                    Você não possui publicações
                    <mat-icon>sentiment_dissatisfied</mat-icon>
                </div>
            </ng-container>

            <ng-template #havePosts>
                
            </ng-template>
        </div>
    </ng-template>
</div>