// Animações
// Animação para a tela aparecer de cima para baixo
.slide-in {
    animation: slideIn 0.5s forwards;
}

@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateY(-100%);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

// Mobile:
.container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.auth {
    height: 100%;
    width: 90%;
    background-color: rgba(#002045, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;

    section {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;

        section {
            color: #fff;
            justify-content: center;
            width: 150px;
            height: 100px;

            p {
                font-weight: bold;
                background-color: #1F2937;
                padding: 8px;
                border-radius: 5px;
                font-size: 20px;
                cursor: default;
                transition: 0.5s;

                &:hover {
                    transform: scale(1.02);
                }
            }
        }

        form {
            height: 25%;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            color: #fff;

            mat-form-field {
                width: 80%;
                color: #fff;

                input {
                    color: #fff;
                    font-family: "Lexend", sans-serif;
                }
            }

            ::-webkit-input-placeholder {
                color: #929292;
             }

            div {
                width: 80%;
                border-bottom: 1px solid #fff;

                input {
                    width: 100%;
                    font-family: "Lexend", sans-serif;
                    padding: 10px 0 10px 0;
                    background-color: #1F2937;
                    border: none;
                    text-transform: uppercase;
                    color: #fff;
                    border-radius: 5px;
                    margin-bottom: 30px;
                    cursor: pointer;
                    transition: 0.5s;

                    &:hover {
                        background-color: #161d27;
                    }
                }
            }
        }

        p {
            color: #fff;
            font-size: 15px;

            button {
                font-family: "Lexend", sans-serif;
                background-color: transparent;
                border: none;
                font-size: 15px;
                cursor: pointer;
                color: #fff;
                transition: 0.5s;

                &:hover {
                    color: #646566;
                }
            }
        }
    }
}

// Tablet
@media screen and (min-width: 768px) and (max-width: 992px) {
    .auth {
        width: 65%;
        backdrop-filter: blur(5px);
    }
}

// Desktop
@media screen and (min-width: 992px) and (max-width: 1200px) {
    .auth {
        width: 50%;
        backdrop-filter: blur(5px);
    }
}

// Telas grandes
@media screen and (min-width: 1200px) {
    .auth {
        width: 40%;
        backdrop-filter: blur(5px);
    }
}